.headerNav {
  display: flex;
  align-items: center;
  gap: 132px;
}
.headerLogo {
  margin-top: 35px;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background: gray;
}
.headerNavLink {
  font-size: 18px;
  font-weight: 700;
  color: black;
}
